h1,h2 {
    text-align: center;
}


table {
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;

    border-spacing: 0 15px;
}

input{
    width: 100%;
    max-width: 500px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}
