table, th, td {
  border:1px solid black;
}

h1, h3, h4 {
  text-align: center;
}

td, th {
  padding: 10px;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}